body, html {
	font-family: arial;
	height: 100vh;
}



#wrapper {
	margin: auto;
	width: 50%;
	height: 80%;
}

.info {
	text-align: center;
	display: block;
}

#info2 {
	padding-top: 20px;
}

.coolBorder {
	border: solid rgb(102, 128, 0) 2px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#textInput {
	width: 100%;
	min-height: 50%;
	background-color: white;
	word-wrap: break-word;
}

.punctuation {
	display: inline-block;
}

.space {
	display: inline-block;
	width: 1ch;
}

.tabs {
	display: inline-block;
	width: 4ch;
}

.wordInfo {
	position: relative;
	display: inline-block;
}

.wordInfo:hover .nbOcc{
	display: block;
}

.nbOcc {
	display: none;
	position: absolute;
	background-color: #fff; 
	z-index: 10;
}

#textSendButton {
	display: block;
	width: 100%;
	background-color: white;
	font: inherit;
}

#header {
}

#header > * {
	display: block;
	text-align: center;
}

#meInfo {
	color: #535252;
	left: 0px;
	font-size: 9px;
}

/*the text linking to linkedin*/ 
#meInfo a {
	color: inherit;
}


a.headerChild {
	right: 0px;	
}

/*the github repo svg*/
#header object{
	height: 15px;
	width: 15px;
	pointer-events: none;
}


@media screen and (max-width: 400px) {
	#wrapper {
		width: 100%;
	}
}


@media screen and (min-width: 400px) and (max-width: 600px) {
	#wrapper {
		width: 70%;
	}
}
