body {
	font-family: arial;
}


#wrapper {
	margin: auto;
	width: 50%;
}

#info {
	text-align: center;
}

#textInput {
	width: 100%;
	min-height: 100px;
	display: block;
	background-color: white;
}


#textSendButton {
	display: block;
	width: 100%;
	background-color: white;
	font: inherit;
}

.coolBorder {
	border: solid rgb(102, 128, 0) 2px;
}

#result {
	text-align: left;
}

.wordInfo {
	display: inline;
	position: relative;
}

.wordInfo:hover .nbOcc{
	display: block;
	position: absolute;
	left: 0;
}

.wordInfo .nbOcc {
	display: none;
	background-color: #fff; 
	z-index: 10;
	white-space: nowrap; /*wtf is that?*/
}

.wordDiv {
	display: inline;
}

.footerChild {
	position: absolute;
	margin: 0;
	bottom: 0;
}

#meInfo {
	color: #535252;
	left: 0px;
	font-size: 9px;
}

/*the text linking to linkedin*/ 
#meInfo a {
	color: inherit;
}


a.footerChild {
	right: 0px;	
}

/*the github repo svg*/
.footerChild object {
	height: 15px;
	width: 15px;
	pointer-events: none;
}













