@import utils.WordInfos
@import play.twirl.api.HtmlFormat._
@import scala.io.Source

@(hostName: String)

<!DOCTYPE html> 
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Which words appear the most in your text?</title>
		<link rel="stylesheet"
			type="text/css" 
			href='@routes.Assets.versioned("stylesheets/main.css")'>
		<script src='@routes.Assets.versioned("javascripts/main.js")'></script>

	</head>

	<body>
		<div id="wrapper">
			<h3 id="info">enter your text here:</h3>
			<textarea rows="6" id="textInput" class="coolBorder"></textarea>
			<button id="textSendButton" class="coolBorder">send</button>
			<div id="result"></div>
		</div>
	
		<div id="footer"> 
			<h5 id="meInfo" class="footerChild">by <a href="https://www.linkedin.com/in/simon-le-bail-collet-a6767212b">slbc</a></h5>
			<!--there should be a link inside of the svg to the github homepage-->
			<a href="https://github.com/simonchelbc/Occurrences" class="footerChild">
				<object  
					data='@routes.Assets.versioned("images/github.svg")'
					type="image/svg+xml">
				</object>
			</a>
		</div>
	</body>
</html>
